.projects {
    text-align: center;
    min-height: 600px;
}

.projects h2 {
    font-size: 3em;
}

.project-btns {
    display: flex;
    justify-content: center;
}

.project-btn {
    margin: 20px;
    font-size: 1.2em;
    padding: 5px;
    width: 150px;
    border: none;
    background-color: transparent;
}

.project-btn:hover, .project-btn:focus {
    background-color: #e31b6d;
    color: #fff;
    border: none;
    transition: .2s ease-in;
    border-radius: 5px;
    border: none;
}

.project {
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project img {
    width: 300px;
    height: 250px;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px 0 10px;
    margin-right: 30px;
    margin-left: 30px;
}
