#projects {
    padding-top: 75px;
    margin-top: -75px;
}

.projects h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 3em;
    opacity: 0.6;
}

.project-btns {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.project-btn {
    margin: 5px;
    text-align: center;
    border: none;
    width: 150px;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #e31b6d;
}

.project-btn:hover , .project-btn:focus{
    background-color: #e31b6d;
    color: White;
    transition: .2s ease-in;
}

.active {
    background-color: #e31b6d;
    color: White;
    transition: .2s ease-in;
}

.projects img {
    max-width: 300px;
    maxheight: 250px;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* hover effect */

.hover-effect a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.hover-effect {
    position: relative;
}

.hover-effect .text {
    text-align: center;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.8s ease-in;
    z-index: 10;
}

.hover-effect:hover .text {
    display: block;
    top: 40%;
    transform: translateX(-50%);
    color:#e31b6d;
    border:2px solid #e31b6d;
    padding: 0 5px;
}

.hover-effect:hover img {
    transition: 0.3s ease-in;
    transform: scale(1.2);
    opacity: 0;
    z-index: 1;
}


@media screen and (max-wodth: 350px) {
    .projects h2 {
        font-size: 1em;
    }
}