.contact {
    background-color: #333;
    height: 100vh;
    padding-top: 75px;
    margin-top: 50px;
}

.contact h2 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
}

#contact-form {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
    margin-top: 50px;
}

#contact-form input {
    width: 280px;
    margin: 10px;
}

#contact-form textarea {
    width: 580px;
    margin: 0 auto 0 auto;
    height: 100px;
}


#contact-form input, #contact-form textarea, #contact-form button {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #e31b6d;
    color: #fff;
    border-radius: 10px;
}

#contact-form button {
    width: 580px;
    margin: 10px auto 0 auto;
    color: #fff;
    background-color: #e31b6d;
    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom: 40px;
}

#top {
    position: relative;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    padding-right: 10px;
    padding-left: 10px;
    font-size: 2.5em;
    background-color: #e31b6d;
    border: none;
}

#top a {
    color: #fff;
}

.social-media {
    width: 100wh;
    background-color: #1b232f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.social-media button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 1.5em;
    margin: 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
}

.social-media button a {
    color: #fff;
}

.social-media button:hover, .social-media button:focus {
    background-color: #00ffff;
    transition: .2s ease-in;
}

footer {
    background-color: #1b232f;
    height: 50px;
    text-align: center;
    color: #00ffff
}

footer span {
    color: #e31b6d
}

